_format_version: "2.1"
_transform: true

services:
  - name: expense-service
    url: http://expense-service:9821
    routes:
      - name: expense-route
        paths:
          - /expense/v1
        strip_path: false
        preserve_host: false
    plugins:
      - name: custom-auth
        config:
          auth_service_url: "http://auth-service:9898/auth/v1/ping"
  - name: ds-service
    url: http://ds-service:9820
    routes:
      - name: ds-route
        paths:
          - /v1/ds
        strip_path: false
        preserve_host: false
    plugins:
      - name: custom-auth
        config:
          auth_service_url: "http://auth-service:9898/auth/v1/ping"
  

  - name: auth-service
    url: http://auth-service:9898
    routes:
      - name: auth-route
        paths:
          - /auth/v1
        strip_path: false
        preserve_host: false